.profile-photo-structure {
    border: solid;
    padding: 50px 40px;
    border-radius: 500px;
    width: 300px;
    border-width: 10px;
    border-color: #23a8d5c3;
    background-color: white;
}

.profile-photo img {
    border: solid;
    border-width: 10px;
    border-radius: 55%;
    height: 250px;
    width: 250px;
    border-color: #23a8d5c3;
}